*{
    padding: 0;
    margin: 0;
}

.main-container{
    height: 100vh;
    background-color: rgb(14, 131, 144);
    display: flex;
    flex-direction: column;
}

.container{
    background-color: rgb(77, 75, 75);
    height: 100px;
}

.button-container{
    background-color: rgb(15, 105, 72);
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item{
    height: 30px;
    background-color: rgb(93, 50, 93);
    width: 25%;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}